
.container{
    background-color: black;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns:  3fr 7fr 4fr ;
    padding: 0 350px;
}


.leftMenu{
    // background-color: ;
    height: 100%;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-content: space-between;
    // align-items: flex-end;
    justify-content: space-between;
}

.center{
    // background-color: rgb(0, 255, 76);
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.rightSide{
    // background-color: rgb(204, 0, 255);
    height: 100%;
    overflow-y: auto;
    
}